{% block _instashopapproved_instashop_products_in_image_widget %}
    {% set image = form.parent.vars.data %}
    <input type="hidden"
           id="instashop-coordinates-input"
           name="coordinates"
           value="{{ image.getCoordinates|json_encode }}">
    {% if image.instashopProducts.count() %}
        <style>
            .bull-point {
                position: absolute;
                width: 20px;
                height: 20px;
                border: 2px solid red;
                border-radius: 50%;
                background: mistyrose;
            }

            .instashop-form-popup {
                display: none;
                width: 450px;
                height: 140px;
                background: #FFF;
                position: fixed;
                padding: 20px;
                top: 30%;
                left: 45%;
            }

            .select2-container .select2-selection--single {
                height: 33px !important;
            }
        </style>
        <div class="form-group row">
            <div class="col-sm-10" style="overflow:auto; position: relative;">
                <img id="instashop-image-source"
                     src="{{ image.path }}"
                     alt="{{ image.translate(image.currentLocale).title }}">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10" style="margin: 20px 0;">
                <button type="button" class="btn btn-danger hidden" id="instashop-product-image--reset">
                    Сброс выбранных продуктов
                </button>
            </div>
        </div>
        <div class="instashop-form-popup" id="instashop-product-image--form">
            <div class="form-group row">
                <div class="col-sm-12">
                    <label for="instashop-image-product"><b>Выберите продукт</b></label>
                    <select id="instashop-image-product" class="select2 form-control">
                        {% for product in image.getInstashopProductsList %}
                            <optgroup data-product-id="{{ product['id'] }}" label="{{ product['title'] }}">
                                {% for item in product['items'] %}
                                    <option value="{{ item['id'] }}">{{ item['title'] }}</option>
                                {% endfor %}
                            </optgroup>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <p>X: <span id="instashop-coordinate-x"></span> Y: <span id="instashop-coordinate-y"></span></p>
                </div>
                <div class="col-sm-6">
                    <button type="button" class="btn" id="instashop-popup-submit">Выбрать</button>
                    <button type="button" class="btn" id="instashop-popup-cancel">Закрыть</button>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                let coordinates = JSON.parse('{{ image.getCoordinates|json_encode|raw }}');
                let products = JSON.parse('{{ image.getInstashopProductsList|json_encode|raw }}');
                let form = document.getElementById("instashop-product-image--form");
                let x;
                let y;

                $("#instashop-image-product").select2();
                coordinates.forEach(function (value) {
                    let itemTitle = products[value['product']]['items'][value['item']]['title'];
                    let productTitle = products[value['product']]['title'];
                    setPoint(value['coordinates']['y'], value['coordinates']['x'], itemTitle + ' (' + productTitle + ')');
                });
                if (coordinates.length > 0) {
                    $("#instashop-product-image--reset").removeClass('hidden');
                }
                $("#instashop-image-source").click(function (event) {
                    event.stopPropagation();
                    x = event.offsetX === undefined ? event.layerX : event.offsetX;
                    y = event.offsetY === undefined ? event.layerY : event.offsetY;
                    $("#instashop-coordinate-x").html(x);
                    $("#instashop-coordinate-y").html(y);
                    form.style.display = "block";
                });
                $("#instashop-popup-cancel").click(function (event) {
                    form.style.display = "none";
                });
                $("#instashop-popup-submit").click(function () {
                    let item = $("#instashop-image-product").val();
                    let product = $("#instashop-image-product option:selected").parents('optgroup').data('product-id');
                    let itemTitle = $("#instashop-image-product option:selected").html();
                    let productTitle = $("#instashop-image-product option:selected").parents('optgroup').attr('label');
                    coordinates.push({'product': product, 'item': item, 'coordinates': {'x': x, 'y': y}});
                    $("#instashop-coordinates-input").val(JSON.stringify(coordinates));
                    form.style.display = "none";
                    $("#instashop-product-image--reset").removeClass('hidden');
                    setPoint(y, x, itemTitle + ' (' + productTitle + ')');
                });
                $("#instashop-product-image--reset").click(function () {
                    if (confirm('Continue?')) {
                        coordinates = [];
                        $("#instashop-coordinates-input").val(JSON.stringify(coordinates));
                        $("#instashop-product-image--reset").removeClass('hidden');
                        $(".bull-point").remove();
                    }
                });

                function setPoint(top, left, title) {

                    $("#instashop-image-source").after('<span title="' + title.trim() + '" style="top: ' + top + 'px; left: ' + left + 'px;" class="bull-point"></span>');
                }
            });
        </script>
    {% else %}
        <div class="form-group row">
            <div class="col-sm-6">
                <div class="alert alert-info">Для отображения изображения необходимо выбрать и сохранить продукты</div>
            </div>
        </div>
    {% endif %}
{% endblock %}