{% block _product_products_items_widget %}
    {% set currentProduct = form.parent.vars.data %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Наименование</th>
            <th>Цена</th>
            <th width="100px"></th>
        </tr>
        </thead>

        <tbody>

        {% for key, item in currentProduct.productItems() %}
            <tr>
                <td>
                    <a href="/admin/?entity=Items&action=edit&id={{ item.id }}">{{ item.id }}</a>
                </td>
                <td><a href="/admin/?entity=Items&action=edit&id={{ item.id }}">{{ item.name }}</a></td>
                <td>{{ item.price }}</td>
                <td>
                    <a title="Редактировать" href="/admin/?entity=Items&action=edit&id={{ item.id }}" class="btn btn-primary btn-xs"
                       type="button"><span class="glyphicon glyphicon-pencil">Редактировать</span></a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <div class="container">
        <a type="button" class="btn btn-default navbar-btn"
           href="/admin/?entity=Items&action=new&entity_id={{ currentProduct.id }}" title="Добавить товар">
            <span class="glyphicon glyphicon-plus"></span> Добавить товар
        </a>
    </div>
{% endblock %}