{% block _product_product_lenses_widget %}
    {% set entity = form.parent.vars.data %}

    {% set lenses_ids = [] %}
    {% for lense in entity.lenses %}
        {% set lenses_ids = lenses_ids|merge([lense.id]) %}
    {% endfor %}

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col"></th>
            <th scope="col">Наименование</th>
            <th scope="col">Бренд</th>
            <th scope="col">Тип</th>
            <th scope="col">Покрытие</th>
            <th scope="col">Толщина</th>
            <th scope="col">Назначение</th>
            <th scope="col">Цена</th>
        </tr>
        </thead>
        <tbody>
        {% for tag in lenses.getAll() %}
            <tr>
                <td scope="row">
                    <input type="checkbox" name="product[lenses][]" value="{{ tag.id }}" {% if tag.id in lenses_ids %} checked {% endif %}/>
                </td>
                <td>{{ tag.name }}</td>
                <td>{{ lenses.filter(tag, config.getParam('lense_brand_tag')).name }}</td>
                <td>{{ lenses.filter(tag, config.getParam('lense_type_tag')).name }}</td>
                <td>{{ lenses.filter(tag, config.getParam('lense_covering_tag')).name }}</td>
                <td>{{ lenses.filter(tag, config.getParam('lense_thickness_tag')).name }}</td>
                <td>{{ lenses.filter(tag, config.getParam('lense_function_tag')).name }}</td>
                <td>{{ tag.price }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}

