{% form_theme form with easyadmin_config('design.form_theme') %}

{% set _entity_config = easyadmin_entity(app.request.query.get('entity')) %}
{% set _entity_id = attribute(entity, _entity_config.primary_key_field_name) %}
{% trans_default_domain _entity_config.translation_domain %}
{% set _trans_parameters = { '%entity_name%': _entity_config.name|trans, '%entity_label%': _entity_config.label|trans, '%entity_id%': _entity_id } %}

{% extends _entity_config.templates.layout %}

{% block body_id 'easyadmin-edit-' ~ _entity_config.name ~ '-' ~ _entity_id %}
{% block body_class 'edit edit-' ~ _entity_config.name|lower %}

{% block content_title %}
    {% spaceless %}
        {% set _default_title = 'edit.page_title'|trans(_trans_parameters, 'EasyAdminBundle') %}
        {{ _entity_config.edit.title is defined ? _entity_config.edit.title|trans(_trans_parameters) : _default_title }}
    {% endspaceless %}
{% endblock %}

{% block main %}
    <script type="text/javascript" src="/bundles/easyadmin/javascript/bootstrap-treeview.js"></script>
    <script type="text/javascript" src="/bundles/easyadmin/javascript/jstree.js"></script>
    <link rel="stylesheet" href="/bundles/easyadmin/stylesheet/glyphicons.css">
    <link rel="stylesheet" href="/bundles/easyadmin/stylesheet/style-tree.css">
    {% set menu = form.vars.data %}
    <div id="jstree"></div><br/>
    <form>
        <input type="text" name="url" id="url" placeholder="Url"/>
        <input type="hidden" name="type" value="Menu"/>
        <div class="row">
            <div class="col-sm-2">
        <span class="btn btn-primary btn-file">
            Выбрать файл <input id="file_upload" type="file" name="files" data-url="/admin/images/upload" multiple>
        </span>
            </div>
        </div>

        <div id="upload_process"></div>
        <hr>
        <div id="images_list">
            <div class="image_item">

            </div>
        </div>
    </form>
    <button id="saveurl">Сохранить данные</button><br/><br/><br/>
    <button id="save">Сохранить меню</button>
    <script id="image_tmpl" type="text/x-jquery-tmpl">
	    <div class="image_item col-sm-2" eid="${id}">
	        <img src="${path}" class="img-thumbnail">
	        <div>
	            <button onclick="delete_image(this)" class="btn btn-default" type="button">
	                <span class="glyphicon glyphicon-trash">Удалить</span>
	            </button>
	        </div>
	    </div>
    </script>
    <script>
        $(function () {

            $('#file_upload').fileupload({
                dataType: 'json',
                done: function (e, data) {
                    var result = data.result[0];
                    $('#images_list').append('<input type="hidden" name="image" value="' + result.path + '"/>');
                    $('#upload_process').html('');
                    $('#image_tmpl').tmpl(data.result[0]).appendTo('#images_list');
                },
                progressall: function (e, data) {
                    var $div = $('#div_process_' + data.upload_number);
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $div.find('.progress-bar').css('width', progress + '%');
                }
            });

            $('#jstree').jstree({
                "core": {
                    "animation": 0,
                    "check_callback": true,
                    "themes": {"stripes": true},
                    'data': {
                        'url': "/admin/?" + $.param({'entity': 'Menu', 'action': 'menu', 'id': {{ menu.id }} }),
                        'data': function (node) {
                        }
                    }
                },
                "types": {
                    "#": {
                        "max_children": 4,
                        "max_depth": 4,
                        "valid_children": ["root"]
                    }
                },
                "plugins": [
                    "contextmenu", "dnd", "search",
                    "state", "types", "wholerow"
                ]
            });

            $('#jstree').on("changed.jstree", function (e, data) {
                var e = $('#jstree').jstree('get_selected', true);
                if (e) {
                    if (e) {
                        var elem = e[0];
                        if(elem && elem.data) {
                            $('#url').val(elem.data[0]);
                            $('.image_item .img-thumbnail').remove();
                            $('.image_item').append('<img src="'+elem.data[1]+'" class="img-thumbnail" width=50>');
                        }
                    }
                }

            });

            $('#saveurl').on('click', function () {
                var url = $('#url').val();
                var image = $('.img-thumbnail').attr('src');
                if(image == 'undefined') {
                    $('.img-thumbnail').each(function(e) {
                        var src = $(this).attr('src');
                        if(src != 'undefined') {
                            image = src;
                        }
                    });
                }
alert(image);
                var e = $('#jstree').jstree('get_selected', true);
                if (e) {
                    var e = e[0];
                    if (e) {
                        e.data = [url, image];
                    }
                }
            });

            $('#save').on('click', function () {
                var menu = JSON.stringify($("#jstree").jstree(true).get_json());
                $.post("/admin/?" + $.param({'entity': 'Menu', 'action': 'edit'}), {
                    'menu': menu,
                    'id': {{ menu.id }}
                }, function (data) {
                }, 'json');
            });
        });
    </script>
{% endblock %}

{% block body_javascript %}
    {{ parent() }}

    <script type="text/javascript">
        $(function () {
            $('.edit-form').areYouSure({'message': '{{ 'form.are_you_sure'|trans({}, 'EasyAdminBundle')|e('js') }}'});

            $('.form-actions').easyAdminSticky();

            $('a.action-delete').on('click', function (e) {
                e.preventDefault();

                $('#modal-delete').modal({backdrop: true, keyboard: true})
                    .off('click', '#modal-delete-button')
                    .on('click', '#modal-delete-button', function () {
                        $('#delete-form').trigger('submit');
                    });
            });
        });
    </script>

    {{ include('@EasyAdmin/default/includes/_select2_widget.html.twig') }}
{% endblock %}
